*.swp
.DS_Store
vim/backups
vim/autoload
vim/bundle
vim/autoload/pathogen.vim
nix/oh-my-zsh
vim/bundle/nerdtree
nix/tmux/tmux/plugins
vim/bundle/idris-vim
vim/bundle/syntastic
vim/bundle/rust.vim
vim/bundle/vim-toml
vim/bundle/async.vim
vim/bundle/vim-lsp
vim/bundle/asyncomplete.vim
vim/bundle/asyncomplete-lsp.vim
nix/tmux/tmux/plugins/tpm
Windows/WindowsPowerShell/Modules
nix/oh-my-zsh/plugins/zsh-autosuggestions
dev.psm1.ini
vim/doc/tags
vim\doc\tags
